<div class="point-highlight-details">
    <ng-container *ngIf="expandableHighlightTypes.includes(highlight.placeType)">
        <div [ngSwitch]="highlight.placeType" class="point">
            <photos-highlight
                *ngSwitchCase="pointHighlightType.photo"
                [hikerUpdateId]="highlight.id"
                [type]="pointHighlightType.photo"
            ></photos-highlight>
            <photos-highlight
                *ngSwitchCase="pointHighlightType.blog"
                [hikerUpdateId]="highlight.id"
                [type]="pointHighlightType.blog"
            ></photos-highlight>
            <location-point *ngSwitchCase="pointHighlightType.location"></location-point>
        </div>
    </ng-container>
</div>
