<div class="point-highlight-details">
  @if (expandableHighlightTypes.includes(highlight.type) && highlight.id) {
    <div class="point">
      @switch (highlight.type) {
        @case (pointHighlightType.photo) {
          <photos-highlight
            [hikerUpdateId]="highlight.id"
            [type]="pointHighlightType.photo"
          ></photos-highlight>
        }
        @case (pointHighlightType.blog) {
          <photos-highlight
            [hikerUpdateId]="highlight.id"
            [type]="pointHighlightType.blog"
          ></photos-highlight>
        }
        @case (pointHighlightType.location) {
          <location-point [locationId]="highlight.id"></location-point>
        }
      }
    </div>
  } @else {
    Er is geen extra informatie voor deze update beschikbaar
  }
</div>
