<div class="locations-overview">
    <div class="alert alert-warning" *ngIf="showDeleteConfirmation">
        <p>You are about to delete the following location:</p>
        <ul>
            <li><b>Id:</b> {{ locationToDelete.id }}</li>
            <li><b>Date:</b> {{ locationToDelete.date | date: 'dd-MM-yyyy - HH:mm' }}</li>
            <li><b>Manual:</b> {{ locationToDelete.isManual }}</li>
            <li><b>PlaceId:</b> {{ locationToDelete.distance | nullableDisplay }}</li>
            <li><b>PlaceId:</b> {{ locationToDelete.placeId | nullableDisplay }}</li>
            <li><b>PlaceId:</b> {{ locationToDelete.sectionId | nullableDisplay }}</li>
            <li><b>Lat:</b> {{ locationToDelete.lat | nullableDisplay }}</li>
            <li><b>Lon:</b> {{ locationToDelete.lon | nullableDisplay }}</li>
        </ul>

        <p>Are you sure? This action cannot be undone.</p>
        <button (click)="confirmDelete()" class="btn btn-primary confirm">Confirm</button>
        <button (click)="cancelDelete()" class="btn btn-secondary">Cancel</button>

        <div class="delete-status-container" *ngIf="deleteResult$ | async as deleteResult">
            <loading-message *ngIf="deleteResult | loading">Deleting location</loading-message>
            <error-message *ngIf="deleteResult | error">An error occurred while deleting the location</error-message>
        </div>
    </div>

    <ng-container *ngIf="locations$ | async as locationsResult">
        <ng-container *ngIf="locationsResult | valid">
            <ng-container *ngIf="locationsResult | data as locations">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Date</th>
                            <th scope="col">Distance</th>
                            <th scope="col">Manual</th>
                            <th scope="col">Place</th>
                            <th scope="col">Section ID</th>
                            <th scope="col">Lat</th>
                            <th scope="col">Lon</th>
                            <th scope="col"><bs-icon name="trash"></bs-icon></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="locations.length === 0">
                            <td colspan="100">No locations were found.</td>
                        </tr>
                        <tr *ngFor="let location of locations.slice(0, numberOfItems)">
                            <td>{{ location.id }}</td>
                            <td>{{ location.date | date: 'dd-MM-yyyy - HH:mm' }}</td>
                            <td>{{ location.distance | distance | nullableDisplay }}</td>
                            <td>{{ location.isManual }}</td>
                            <td>{{ location.placeId ? location.place : '-' }}</td>
                            <td>{{ location.sectionId | nullableDisplay }}</td>
                            <td>{{ location.lat | nullableDisplay }}</td>
                            <td>{{ location.lon | nullableDisplay }}</td>
                            <th><bs-icon name="trash" (click)="onPendingDelete(location)"></bs-icon></th>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary" *ngIf="locations.length > numberOfItems" (click)="increaseLocations(locations.length)">
                    Meer locaties tonen
                </button>
            </ng-container>
        </ng-container>
        <loading-message *ngIf="locationsResult | loading">Loading locations overview</loading-message>
        <error-message *ngIf="locationsResult | error">An error occurred while loading the locations overview</error-message>
    </ng-container>
</div>
