<div class="card highlight" [ngClass]="{ expandable, expanded, 'in-section': inSection }" (click)="toggleExpansion()">
    <point-highlight-summary class="summary" [highlight]="highlight" [expandable]="expandable"></point-highlight-summary>

    <div class="expansion" *ngIf="expandable && !expanded">
        <span class="expansion-text">Bekijk meer</span>
        <bs-icon class="expansion-icon" name="chevron-compact-down" [light]="true"></bs-icon>
    </div>

    <point-highlight-details *ngIf="expanded" [highlight]="highlight"></point-highlight-details>
</div>
