@import '../../../../../styles/variables.scss';

.highlight {
    height: 100%;
    width: 100%;
    padding: $padding;
    background-color: $light;
    transition: background-color $transitionTimeFast ease-in-out;
    border-color: $borderColor;

    .expansion {
        // Positioning
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -8px;

        // Sizing
        width: fit-content;
        height: 20px;
        padding-left: $paddingSm;
        padding-right: $paddingSm;

        // Style
        background-color: $secondary-500;
        border: 1px solid $secondary-600;
        border-radius: $borderRadius;
        transition: background-color $transitionTimeFast ease-in-out;

        .expansion-icon {
            padding-left: 3px;
            margin-bottom: 2px;
        }

        .expansion-text {
            font-size: 0.7rem;
            color: $light;
        }
    }

    &:hover {
        .expansion {
            background-color: $secondary-600;
            border: 1px solid $secondary-700;
        }
    }

    &.expandable {
        cursor: pointer;

        &:hover {
            background-color: darken($light, 3%);
        }
    }
}
