@use '../../../../../styles/variables.scss';

$expansionHeight: 20px;
$connectorDotRadius: 5px;
$connectorDotDiameter: 2 * $connectorDotRadius;

.highlight {
    height: 100%;
    width: 100%;
    padding: variables.$padding;
    background-color: variables.$light;
    border-color: variables.$secondary-500;

    .expansion {
        // Positioning
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -8px;

        // Sizing
        width: fit-content;
        height: $expansionHeight;
        padding-left: variables.$paddingSm;
        padding-right: variables.$paddingSm;

        // Style
        background-color: variables.$secondary-500;
        border: 1px solid variables.$secondary-600;
        border-radius: variables.$borderRadius;
        transition: background-color variables.$transitionTime ease-in-out;

        .expansion-icon {
            padding-left: 3px;
            margin-bottom: 2px;
        }

        .expansion-text {
            font-size: 0.7rem;
            color: variables.$light;
        }
        &:hover {
            cursor: pointer;
            background-color: variables.$secondary-600;
            border: 1px solid variables.$secondary-700;
        }
    }

    .ruler {
        height: 1px;
        width: 78%;
        margin-top: variables.$marginLg;
        margin-bottom: variables.$marginLg;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid variables.$secondary-500;
    }

    .summary-container {
        position: relative;

        .highlight-connector {
            position: absolute;
            width: calc(0.5rem * variables.$connectorWidth + 0.5 * variables.$padding);
            height: variables.$connectorBorderWidth;
            border-top: variables.$connectorBorderWidth solid variables.$connectorColor;
            left: calc(-0.5rem * variables.$connectorWidth - 1.5 * variables.$padding);
            top: 50%;

            @media screen and (max-width: #{variables.$maxWidthSm}) {
                display: none;
            }

            &.expandable {
                top: calc(50% + 0.5 * $expansionHeight);
            }

            &::before {
                content: '';
                display: inline-block;
                width: $connectorDotDiameter;
                height: $connectorDotDiameter;
                -moz-border-radius: $connectorDotRadius;
                -webkit-border-radius: $connectorDotRadius;
                border-radius: $connectorDotRadius;
                background-color: variables.$connectorColor;
                margin-left: -$connectorDotRadius;
                position: absolute;
                margin-top: -$connectorDotRadius;
            }
        }
    }
}
