@import '../../../../../styles/variables.scss';

$expansionHeight: 20px;
$connectorDotRadius: 5px;
$connectorDotDiameter: 2 * $connectorDotRadius;

.highlight {
    height: 100%;
    width: 100%;
    padding: $padding;
    background-color: $light;
    border-color: $secondary-500;

    .expansion {
        // Positioning
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -8px;

        // Sizing
        width: fit-content;
        height: $expansionHeight;
        padding-left: $paddingSm;
        padding-right: $paddingSm;

        // Style
        background-color: $secondary-500;
        border: 1px solid $secondary-600;
        border-radius: $borderRadius;
        transition: background-color $transitionTime ease-in-out;

        .expansion-icon {
            padding-left: 3px;
            margin-bottom: 2px;
        }

        .expansion-text {
            font-size: 0.7rem;
            color: $light;
        }
        &:hover {
            cursor: pointer;
            background-color: $secondary-600;
            border: 1px solid $secondary-700;
        }
    }

    .ruler {
        height: 1px;
        width: 78%;
        margin-top: $marginLg;
        margin-bottom: $marginLg;
        margin-left: auto;
        margin-right: auto;
        border-top: 1px solid $secondary-500;
    }

    .summary-container {
        position: relative;

        .highlight-connector {
            @media screen and (max-width: #{$maxWidthSm}) {
                display: none;
            }

            position: absolute;
            width: calc(0.5rem * $connectorWidth + 0.5 * $padding);
            height: $connectorBorderWidth;
            border-top: $connectorBorderWidth solid $connectorColor;
            left: calc(-0.5rem * $connectorWidth - 1.5 * $padding);
            top: 50%;

            &.expandable {
                top: calc(50% + 0.5 * $expansionHeight);
            }

            &::before {
                content: '';
                display: inline-block;
                width: $connectorDotDiameter;
                height: $connectorDotDiameter;
                -moz-border-radius: $connectorDotRadius;
                -webkit-border-radius: $connectorDotRadius;
                border-radius: $connectorDotRadius;
                background-color: $connectorColor;
                margin-left: -$connectorDotRadius;
                position: absolute;
                margin-top: -$connectorDotRadius;
            }
        }
    }
}
