@if (tablePhotos.length === 0) {
  <p>Geen foto's gevonden</p>
}
@if (tablePhotos.length > 0) {
  <table class="photo-table">
    <thead>
      <tr>
        <th class="image" scope="col"></th>
        <th class="id" scope="col">Id</th>
        <th class="date" scope="col">Date</th>
        @if (showGenerateImageLinks) {
          <th scope="col">img</th>
        }
        @if (showDeleteButton) {
          <th scope="col"><bs-icon name="trash"></bs-icon></th>
        }
      </tr>
    </thead>
    <tbody>
      @for (photo of tablePhotos; track photo) {
        <tr>
          <td class="image"><img [src]="photo.srcSmall" class="image" /></td>
          <td class="id">{{ photo.id }}</td>
          <td class="date">{{ photo.date | date : 'dd-MM-yyyy - HH:mm' }}</td>
          @if (showGenerateImageLinks) {
            <td>
              <button class="btn btn-primary" (click)="onGenerateImgHtml(photo.srcText, photo.srcLarge)">img</button>
            </td>
          }
          @if (showDeleteButton) {
            <th><bs-icon name="trash" (click)="onDelete(photo.id)"></bs-icon></th>
          }
        </tr>
      }
    </tbody>
  </table>
}
