<p *ngIf="tablePhotos.length === 0">Geen foto's gevonden</p>
<table *ngIf="tablePhotos.length > 0" class="photo-table">
    <thead>
        <tr>
            <th class="image" scope="col"></th>
            <th class="id" scope="col">Id</th>
            <th class="date" scope="col">Date</th>
            <th scope="col" *ngIf="showGenerateImageLinks">img</th>
            <th scope="col" *ngIf="showDeleteButton"><bs-icon name="trash"></bs-icon></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let photo of tablePhotos">
            <td class="image"><img [src]="photo.srcSmall" class="image" /></td>
            <td class="id">{{ photo.id }}</td>
            <td class="date">{{ photo.date | date : 'dd-MM-yyyy - HH:mm' }}</td>
            <td *ngIf="showGenerateImageLinks">
                <button class="btn btn-primary" (click)="onGenerateImgHtml(photo.srcText, photo.srcLarge)">img</button>
            </td>
            <th *ngIf="showDeleteButton"><bs-icon name="trash" (click)="onDelete(photo.id)"></bs-icon></th>
        </tr>
    </tbody>
</table>
