# Angular / NPM files
package.json
package-lock.json

.github/**
.husky/**
node_modules/**
dist/**

# Images
*.ico
*.svg
*.png
*.jpg
*.jpeg
*.gif

# Config files
environment.ts
environment.prod.ts

# README
README.md

# Git
.gitignore

# Prettier
.prettierignore