{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "printWidth": 140,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "trailingComma": "none",
    "bracketSameLine": false,
    "parser": "typescript",
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "html"
            }
        },
        {
            "files": "*.component.html",
            "options": {
                "parser": "angular"
            }
        },
        {
            "files": "*.json",
            "options": {
                "parser": "json"
            }
        },
        {
            "files": "*.scss",
            "options": {
                "parser": "scss"
            }
        }
    ]
}