<app-base-layout class="admin-page">
    <h3 class="title">Boodschappenlijstje</h3>

    <div cdkDropList class="drop-list" (cdkDropListSorted)="moveProduct()" (cdkDropListDropped)="dropProduct($event)">
        @for (product of products(); track product; let index = $index) {
        <div class="drop-list-item" cdkDrag>
            <bs-icon class="drag-handle" cdkDragHandle name="grip-vertical" iconColor="dark" />
            <input class="product-check form-check-input" (click)="checkProduct(index)" type="checkbox" value="" />
            <div appSwipe (swipeRight)="onSwipeProductRight(index)" (swipeLeft)="onSwipeProductLeft(index)" class="product-name-container">
                @if (productEditingIndex() !== index) {
                <span (click)="startEditingProduct(index)" class="product-name">
                    {{ product.name }}
                </span>
                } @else {
                <input
                    class="form-control form-control-sm"
                    [value]="productEditingValue()"
                    (blur)="saveProductAndCancelEditing(index)"
                    (keydown.enter)="saveProductAndAddNewProduct(index)"
                    (keydown.escape)="cancelEditingProduct()"
                    #productEditInput
                />
                }
            </div>

            <div class="product-icons">
                @if(product.sale) {
                <bs-icon name="tag-fill" iconColor="primary-600" />
                }
                @if(product.albertHeijn) {
                <bs-icon name="albert-heijn" />
                }
            </div>
        </div>

        }
        <div class="drop-list-item">
            <bs-icon class="add-product-icon" iconColor="gray" name="plus-circle" (click)="addNewProductAndStartEditing()" />
            <div class="product-name-container">
                <span (click)="addNewProductAndStartEditing()" class="product-name add-product-name"> Product toevoegen </span>
            </div>
        </div>
    </div>

    <hr class="divider" />

    <div cdkDropList class="drop-list" (cdkDropListSorted)="moveProduct()" (cdkDropListDropped)="dropRecurringProduct($event)">
        @for (product of recurringProducts(); track product; let index = $index) {
        <div class="drop-list-item recurring-product-item" cdkDrag>
            <bs-icon class="drag-handle" iconColor="gray" cdkDragHandle name="grip-vertical" />
            <input class="product-check form-check-input" (click)="checkRecurringProduct(index)" [disabled]="!product.name" type="checkbox" value="" />
            <div appSwipe (swipeRight)="onSwipeRecurringProductRight(index)" class="product-name-container">
                @if (recurringProductEditingIndex() !== index) {
                <span (click)="startEditingRecurringProduct(index)" class="product-name">
                    {{ product.name }}
                </span>
                } @else {
                <input
                    class="form-control form-control-sm"
                    [value]="recurringProductEditingValue()"
                    (blur)="saveRecurringProductAndCancelEditing(index)"
                    (keydown.enter)="saveRecurringProductAndAddNewProduct(index)"
                    (keydown.escape)="cancelEditingRecurringProduct()"
                    #recurringProductEditInput
                />
                }
            </div>
            <div class="product-icons">
                @if (recurringProductShowDelete() && recurringProductDeleteIndex() === index) {
                    <bs-icon (click)="deleteRecurringProduct(index)" name="x-lg" iconColor="primary-600" />
                }
            </div>
        </div>
        }
        <div class="drop-list-item">
            <bs-icon class="add-product-icon" iconColor="gray" name="plus-circle" (click)="addNewRecurringProductAndStartEditing()" />
            <div class="product-name-container">
                <span (click)="addNewRecurringProductAndStartEditing()" class="product-name add-product-name">
                    Basisproduct toevoegen
                </span>
            </div>
        </div>
    </div>
</app-base-layout>

<span>{{ this.products() | json }}</span>
<br /><br />
<span>{{ this.recurringProducts() | json }}</span>
<br /><br />
<span>{{ this.selectedRecurringProducts() | json }}</span>
