@use '../../../../styles/variables.scss';

.admin-page {
    .menu {
        margin-left: auto;
        margin-right: auto;
    }

    .title {
        text-align: center;
        margin-bottom: 0;
    }

    .divider {
        margin: 10px 0;
    }

}

// Alle drop list styling staat buiten de .admin-page selector omdat de drag functionaliteit elementen in de root van de pagina rendert
    .drop-list {
        max-width: 100%;
        border: solid 1px #ccc;
        min-height: 60px;
        display: block;
        background: variables.$light;
        border-radius: 4px;
        overflow: hidden;
    }

    .drop-list-item {
        padding: 0px 5px;
        border-bottom: solid 1px #ccc;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        box-sizing: border-box;
        background: variables.$light;

        .drag-handle {
            padding: 10px;
            cursor: move;
        }

        .product-check {
            margin: 10px;
            margin-left: 5px;
        }

        .product-name-container {
            width: 100%;
            min-height: 1rem;
        }
        .product-name {
            display: inline-block;
            width: 100%;
            min-height: 1rem;
        }

        .product-icons {
            padding-left: 5px;
            margin-left: auto;
        }
    }

    .product-item {
        font-size: smaller;
    }

    .recurring-product-item {
        color: gray;
    }

    .cdk-drag-preview {
        border: none;
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .cdk-drag-placeholder {
        opacity: 0;
    }

    .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .drop-list-item:last-child {
        border: none;
    }

    .drop-list.cdk-drop-list-dragging .drop-list-item:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }