@import '../../../../../styles/variables.scss';

@mixin small() {
    @media screen and (max-width: 750px) {
        @content;
    }
}

:host {
    height: 100%;
}

.photo-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .photo {
        max-width: 90%;
        max-height: 100vh;
        padding-top: $spacing;
        padding-bottom: $spacing;

        @include small() {
            max-width: 100%;
        }
    }

    .carousel-button {
        position: absolute;
        fill: $primary-600;
        transition-duration: 0.1s;

        &:hover {
            fill: $primary-700;
            transform: scale(1.2);

            @include small() {
                transform: scale(1) !important;
            }
        }

        &.close-button {
            top: 10px;
            right: 10px;
        }

        &.step-button {
            top: 0;
            bottom: 0;
            height: 38px;
            margin-top: auto;
            margin-bottom: auto;
            z-index: 100;

            @include small() {
                top: 10px;
                bottom: auto;

                &--next {
                    left: 60px;
                }
            }

            &--next {
                right: 10px;
            }

            &--previous {
                left: 10px;
            }
        }
    }
}
