@use '../../../styles/variables.scss';

.highlights-chain {
    display: block;
    width: 100%;
    padding-left: variables.$paddingSm;
    padding-right: variables.$paddingSm;
    padding-bottom: variables.$padding;
    margin-top: variables.$marginLg;
    border-bottom: 1px solid variables.$primary-200;
}

.error-message {
    padding: variables.$marginLg;
    display: block;
    text-align: center;
    font-size: 0.9rem;
}
