@import '../../../styles/variables.scss';

.hike {
    $grad: #0000 8%, $light 0 17%, #0000 0 58%;
    $size: 75px;
    background: linear-gradient(135deg, #0000 20.5%, $light 0 29.5%, #0000 0) 0 $size/4, linear-gradient(45deg, $grad) $size/2 0,
        linear-gradient(135deg, $grad, $light 0 67%, #0000 0),
        linear-gradient(45deg, $grad, $light 0 67%, #0000 0 83%, $light 0 92%, #0000 0), darken($light, 2%);
    /* second color */
    background-size: $size $size;

    .highlights-chain {
        display: block;
        width: 100%;
        padding-left: $paddingSm;
        padding-right: $paddingSm;
        padding-bottom: $padding;
        margin-top: $chainMarginTop;
    }
}
