@import '../../../../../styles/variables.scss';

.add-update {
    .update-data {
        margin-bottom: 1rem;

        .form-buttons {
            margin-top: 1rem;

            .form-button {
                margin-right: 1rem;
            }
        }
    }

    .text-preview {
        margin-bottom: 1rem;
    }

    .blog-photos {
        .album-select {
            margin-bottom: $margin;
        }
    }
}
