<div class="card add-album">
  <div class="card-body">
    <h5 class="card-title">Add new album</h5>
    @if (!submitted) {
      <div class="form-group">
        <label for="title">Album title</label>
        <input type="text" class="form-control add-album_title" id="title" required [(ngModel)]="albumTitle" />
        <div>
          <button class="btn btn-primary" [disabled]="!albumTitle" (click)="onSubmit()">Submit</button>
        </div>
      </div>
    }

    @if (submitted) {
      @if (success) {
        <div class="alert alert-success">Album has been added</div>
      }
      @if (error) {
        <div class="alert alert-danger">An error occured while adding the album.</div>
      }
      <button class="btn btn-primary" (click)="reloadComponent()">Add another album</button>
    }
  </div>
</div>
