@import '../../../../styles/variables.scss';

$connectorBorderStyle: 2px dashed $primary;
$connectorBorderRadius: 15px;
$leftCenterpoint: 0.4;
$rightCenterpoint: 0.6;

:root {
    --highlights-width: 100%; // Set programmatically
}

.highlights-chain {
    min-width: 2 * $cardWidth + 4 * $padding;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: $padding;

    &_container {
        position: relative;
        width: 100%;
        margin-bottom: 1rem;

        .highlights-chain_highlight {
            position: relative;
            z-index: 2;
            width: fit-content;
            display: block;
            transition: margin-left $transitionTime ease-in-out;

            &.expanded {
                margin-left: 0 !important;
            }

            &--left {
                margin-left: calc(percentage($leftCenterpoint) - 5rem);
            }

            &--right {
                margin-left: calc(percentage($rightCenterpoint) - 5rem);
            }

            &--section {
                margin-left: auto;
                margin-right: auto;
            }
        }

        .highlights-chain_connector {
            position: absolute;
            z-index: 1;

            &--left,
            &--right {
                width: percentage($rightCenterpoint - $leftCenterpoint);
                height: calc(50% + 1rem);
                top: 50%;
                border-top: $connectorBorderStyle;
            }

            &--left {
                left: percentage($leftCenterpoint);
                border-right: $connectorBorderStyle;
                border-top-right-radius: $connectorBorderRadius;
            }

            &--right {
                right: percentage(1 - $rightCenterpoint);
                border-left: $connectorBorderStyle;
                border-top-left-radius: $connectorBorderRadius;
            }

            &--left-incoming,
            &--right-incoming {
                width: 1px;
                height: calc(100% + 1rem);
                top: 0;
                border-left: $connectorBorderStyle;
            }

            &--left-incoming {
                left: percentage($leftCenterpoint);
            }

            &--right-incoming {
                right: percentage(1 - $rightCenterpoint);
            }
        }

        &:last-child {
            .highlights-chain_connector {
                display: none;
            }
        }
    }
}
