@if (highlights) {
  <div #highlightsChain class="highlights-chain">
    @for (highlight of highlights.slice(0, numberOfHighlights); track highlight; let i = $index) {
      <div class="highlights-chain_container">
        @switch (highlight.type) {
          @case (highlightType.place) {
            <point-highlight
              [highlight]="highlight.pointHighlight!"
              class="place-highlight"
            ></point-highlight>
          }
          @case (highlightType.section) {
            <section-highlight
              class="section-highlight"
              [highlight]="highlight.sectionHighlight!"
            ></section-highlight>
          }
        }
      </div>
    }
    <div class="expand-button-container" [ngClass]="{ hidden: numberOfHighlights >= highlights.length }">
      @if (numberOfHighlights < highlights.length) {
        <button class="btn btn-secondary expand-button" (click)="onViewMoreHighlights()">
          Bekijk meer<bs-icon name="chevron-compact-down" iconColor="light" class="expand-icon"></bs-icon>
        </button>
      }
    </div>
    @if (highlights.length > 0) {
      <div class="connector" [ngClass]="{ 'section-ending': highlights[0].sectionHighlight }">
        <bs-icon class="connector-top" name="chevron-up" iconColor="primary-600"></bs-icon>
      </div>
    }
    @if (highlights.length === 0) {
      <div class="no-highlights">
        <h6 class="no-highlights_text">Hier is nu nog niks te zien, dus kom snel terug!</h6>
      </div>
    }
  </div>
}
