@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins/point-highlight-positioning.scss';

.highlights-chain {
    position: relative;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    &_container {
        position: relative;
        width: 100%;
        margin-bottom: 1rem;

        @include pointHighlightPositioning;

        .section-highlight {
            height: 100%;
            width: 100%;
        }
    }

    .expand-button {
        // Positioning
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0.1rem 0.5rem 0.1rem 0.5rem;
        z-index: 2;
        position: relative;

        // Styling
        background-color: $secondary-500;
        border: 1px solid $secondary-600;
        color: $light;
        font-size: 0.9rem;
        transition: background-color $transitionTimeFast ease-in-out;

        &:hover {
            background-color: $secondary-600;
            border: 1px solid $secondary-700;
        }

        .expand-icon {
            margin-left: $spacing;
        }
    }

    .connector {
        position: relative;
        height: calc(100% + $margin);
        width: $connectorBorderWidth;
        margin-left: calc(0.5rem * var(--connector-width) + 0.5 * $margin);
        position: absolute;
        top: 0;
        z-index: 1;
        border-left: $connectorBorderWidth solid $connectorColor;

        &.section-ending {
            top: $margin;
            height: calc(100% + 1rem);
        }

        @media screen and (max-width: #{$maxWidthSm}) {
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;

            .connector-top {
                display: none;
            }
        }

        .connector-top {
            position: absolute;
            left: -8px;
            top: -10px;
        }
    }
}
