@import '../../../../styles/variables.scss';

$connectorBorderStyle: 2px dashed $primary;
$connectorBorderRadius: 15px;
$leftCenterpoint: 0.4;
$rightCenterpoint: 0.6;

:root {
    --highlights-width: 100%; // Set programmatically
}

.highlights-chain {
    min-width: 2 * $cardWidth + 4 * $padding;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: $padding;

    &_container {
        position: relative;
        width: 100%;
        margin-bottom: 1rem;

        .highlights-chain_highlight {
            position: relative;
            z-index: 2;
            width: fit-content;
            display: block;
            transition: margin-left $transitionTime ease-in-out;

            &.expanded {
                margin-left: 0 !important;
            }

            &--left {
                margin-left: calc(percentage($leftCenterpoint) - 5rem);
            }

            &--right {
                margin-left: calc(percentage($rightCenterpoint) - 5rem);
            }

            &--section {
                margin-left: auto;
                margin-right: auto;
            }
        }

        .highlights-chain_connector {
            position: absolute;
            z-index: 1;

            &--left,
            &--right {
                width: percentage($rightCenterpoint - $leftCenterpoint);
                height: calc(50% + 1rem);
                top: 50%;
                border-top: $connectorBorderStyle;
            }

            &--left {
                left: percentage($leftCenterpoint);
                border-right: $connectorBorderStyle;
                border-top-right-radius: $connectorBorderRadius;
            }

            &--right {
                right: percentage(1 - $rightCenterpoint);
                border-left: $connectorBorderStyle;
                border-top-left-radius: $connectorBorderRadius;
            }

            &--left-incoming,
            &--right-incoming {
                width: 1px;
                height: calc(100% + 1rem);
                top: 0;
                border-left: $connectorBorderStyle;
            }

            &--left-incoming {
                left: percentage($leftCenterpoint);
            }

            &--right-incoming {
                right: percentage(1 - $rightCenterpoint);
            }
        }

        &:last-child {
            .highlights-chain_connector {
                display: none;
            }
        }
    }
}

.section-highlight {
    height: 100%;
    min-height: 125px;
    width: 2 * $cardWidth + 2 * $padding;
    margin-left: 0;
    transition: width $transitionTime ease-in-out;
    border: 1px solid lighten($primary, 30%);
    border-radius: $borderRadius;
    background-color: lighten($primary, 50%);
    padding: $padding;

    display: flex;
    align-items: center;

    &.expanded {
        width: calc(var(--highlights-width) - 2 * var(--padding));

        .section-highlight_info {
            width: 0;

            &-icon {
                display: none;
            }
            &-title {
                display: none;
            }
        }

        .section-highlight_child {
            &.expanded {
                margin-left: 0;
            }

            margin-left: calc(percentage($leftCenterpoint) - 5rem);
        }
    }

    &_info {
        width: $cardWidth;
        transition: width $transitionTime ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-icon {
            max-width: 64px;
            padding: 5px;
        }

        &-title {
            color: darken($primary, 10%);
            font-weight: 600;
            font-size: 0.8rem;
            text-align: center;
            margin-bottom: 0;
            max-width: $cardWidth - 2 * $padding;
        }
    }

    &_children {
        width: 2 * $cardWidth + 2 * $padding;
    }
    &_child {
        position: relative;
        z-index: 2;
        display: block;
        margin-bottom: $margin;
        transition: margin $transitionTime linear;
        margin-left: 0;

        &:last-child {
            margin-bottom: 0;
        }

        &-placeholder {
            width: $cardWidth;
        }
    }
}
