@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

@import 'variables.scss';
// Bootstrap customization should always be loaded before bootstrap itself
@import 'bootstrap-customization.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/ngx-bootstrap/datepicker/bs-datepicker';
@import 'node_modules/mapbox-gl/dist/mapbox-gl.css';

@import '../app/core/components/base-layout/base-layout.component.scss';

body {
    background-color: $light-600;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: $dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    color: $dark;
}

a:link {
    text-decoration: none;
    color: $primary-600;
}

a:visited {
    text-decoration: none;
    color: $primary-600;
}

a:hover {
    text-decoration: none;
    color: $primary-800;
}

h3.page-title {
    margin-bottom: 1rem;
}

// This is styling for html that is inserted in markdown text and thus needs to be global
.update-text {
    &-link {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }

    &-image {
        max-width: 100%;
        max-height: 550px;
    }

    &-image-caption {
        font-size: small;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        text-align: center;
        max-width: 75%;

        @media screen and (max-width: #{$maxWidthSm}) {
            max-width: 100%;
        }
    }
}

.full-screen-modal {
    height: 100vh !important;
    width: 100vw !important;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;

    .modal-content {
        height: 100%;
    }
}
