@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

@import 'variables.scss';
// Bootstrap customization should always be loaded before bootstrap itself
@import 'bootstrap-customization.scss';
@import './node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/ngx-bootstrap/datepicker/bs-datepicker';

@import '../app/core/components/base-layout/base-layout.component.scss';

body {
    background-color: $light;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    color: $dark;
}

a:link {
    text-decoration: none;
    color: var(--poker-green-verylight);
}

a:visited {
    text-decoration: none;
    color: var(--poker-green-verylight);
}

a:hover {
    text-decoration: none;
    color: var(--poker-green);
}

h2 {
    color: var(--poker-green);
}

h3.page-title {
    margin-bottom: 1rem;
}

.vertical-padding {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
