@use "sass:color";

// Colors
$primary: #839788; // Cambridge
$secondary: #8e7583; // Dark grayish pink
$accent: #be2113; // Coquelicot
$success: #90be6d; // Pistachio
$info: #6c91c2; // Blue Gray
$warning: #f7a072; // Atomic Tangerine
$danger: #f2545b; // Sizzling Red
$light: #f8f9fa; // Off White
$dark: #343a40; // Onyx

// Color variations
$primary-100: color.adjust($primary, $lightness: 40%); // lighten($primary, 40%);
$primary-200: color.adjust($primary, $lightness: 30%); //lighten($primary, 30%);
$primary-250: color.adjust($primary, $lightness: 25%); //lighten($primary, 25%);
$primary-300: color.adjust($primary, $lightness: 20%); //lighten($primary, 20%);
$primary-400: color.adjust($primary, $lightness: 10%); //lighten($primary, 10%);
$primary-500: $primary;
$primary-600: color.adjust($primary, $lightness: -10%); //darken($primary, 10%);
$primary-700: color.adjust($primary, $lightness: -20%); //darken($primary, 20%);
$primary-800: color.adjust($primary, $lightness: -30%); //darken($primary, 30%);
$primary-900: color.adjust($primary, $lightness: -40%); //darken($primary, 40%);

$secondary-100: color.adjust($secondary, $lightness: 40%); //lighten($secondary, 40%);
$secondary-200: color.adjust($secondary, $lightness: 30%); //lighten($secondary, 30%);
$secondary-300: color.adjust($secondary, $lightness: 20%); //lighten($secondary, 20%);
$secondary-400: color.adjust($secondary, $lightness: 10%); //lighten($secondary, 10%);
$secondary-500: $secondary;
$secondary-600: color.adjust($secondary, $lightness: -10%); //darken($secondary, 10%);
$secondary-700: color.adjust($secondary, $lightness: -20%); //darken($secondary, 20%);
$secondary-800: color.adjust($secondary, $lightness: -30%); //darken($secondary, 30%);
$secondary-900: color.adjust($secondary, $lightness: -40%); //darken($secondary, 40%);

$light-500: $light;
$light-600: #f4f4f4;

// Breakpoints
$maxWidthSm: 500px;

// Basic
$borderRadius: 3px;
$transitionTime: 125ms;
$spacingSm: 0.35rem;
$spacing: 0.75rem;
$spacingLg: 1.5rem;
$padding: $spacing;
$paddingSm: $spacingSm;
$margin: $spacing;
$marginSm: $spacingSm;
$marginLg: $spacingLg;

// Highlights chain
$connectorWidth: 2; //rem;
$connectorWidthSm: 0; // rem;
$connectorBorderWidth: 1px;
$connectorColor: $primary-500;

// CSS variables
// Only declare variables here if they are dynamic (i.e. different media queries) or interacted with programatically from TS.
// Interacting with CSS from TS should only be done when no pure CSS solution is available.
// Declare variables first as SCSS-variables, and use those variables here to maintain a single source of truth.
:root {
    --connector-width: #{$connectorWidth};

    // Order of breakpoints is important here. Smallest screens satisfy all breakpoints, so last values count
    @media screen and (max-width: #{$maxWidthSm}) {
        --connector-width: #{$connectorWidthSm};
    }
}
