// Colors
$primary: #839788; // Cambridge
$secondary: #8e7583; // Dark grayish pink
$success: #90be6d; // Pistachio
$info: #6c91c2; // Blue Gray
$warning: #f7a072; // Atomic Tangerine
$danger: #f2545b; // Sizzling Red
$light: #f8f9fa; // Off White
$dark: #343a40; // Onyx

// Color variations
$primary-100: lighten($primary, 40%);
$primary-200: lighten($primary, 30%);
$primary-250: lighten($primary, 25%);
$primary-300: lighten($primary, 20%);
$primary-400: lighten($primary, 10%);
$primary-500: $primary;
$primary-600: darken($primary, 10%);
$primary-700: darken($primary, 20%);
$primary-800: darken($primary, 30%);
$primary-900: darken($primary, 40%);

$secondary-100: lighten($secondary, 40%);
$secondary-200: lighten($secondary, 30%);
$secondary-300: lighten($secondary, 20%);
$secondary-400: lighten($secondary, 10%);
$secondary-500: $secondary;
$secondary-600: darken($secondary, 10%);
$secondary-700: darken($secondary, 20%);
$secondary-800: darken($secondary, 30%);
$secondary-900: darken($secondary, 40%);

// Breakpoints
$maxWidthXs: 400px;
$maxWidthSm: 500px;
$maxWidthLg: 1920px;

// Basic
$borderRadius: 3px;
$transitionTimeUnitless: 250; // ms, unitless value, used in TS
$transitionTime: $transitionTimeUnitless * 1ms;
$transitionTimeFast: 125ms;
$spacingSm: 0.35rem;
$spacing: 0.75rem;
$spacingLg: 1.5rem;
$padding: $spacing;
$paddingSm: $spacingSm;
$margin: $spacing;
$marginSm: $spacingSm;
$marginLg: $spacingLg;

// Hike
$bannerHeightSm: 300px;
$bannerHeight: 470px;

// Highlights chain
$leftCenterpointXs: 0.3;
$rightCenterpointXs: 0.7;
$leftCenterpointSm: 0.35;
$rightCenterpointSm: 0.65;
$leftCenterpoint: 0.4;
$rightCenterpoint: 0.6;
$cardWidth: 9.5rem;
$startWidth: 0.8 * $cardWidth;
$connectorBorderStyle: 2px dashed $primary-700;
$connectorBorderRadius: 15px;
$borderColor: $secondary-500;

// CSS variables
// Only declare variables here if they are dynamic (i.e. different media queries) or interacted with programatically from TS.
// Interacting with CSS from TS should only be done when no pure CSS solution is available.
// Declare variables first as SCSS-variables, and use those variables here to maintain a single source of truth.
:root {
    --poker-green: #30413c; // To be replaced by SCSS variable
    --poker-green-light: #475a54; // To be replaced by SCSS variable
    --poker-green-verylight: #5b716b; // To be replaced by SCSS variable
    --poker-green-dark: #172622; // To be replaced by SCSS variable

    --transition-time-unitless: #{$transitionTimeUnitless}; // Used in TS
    --padding: #{$padding}; // To be replaced by SCSS variable

    --highlights-width: 100%; // Used in TS

    --left-centerpoint: #{$leftCenterpoint};
    --right-centerpoint: #{$rightCenterpoint};

    // Order of breakpoints is important here. Smallest screens satisfy all breakpoints, so last values count
    @media screen and (max-width: #{$maxWidthSm}) {
        --left-centerpoint: #{$leftCenterpointSm};
        --right-centerpoint: #{$rightCenterpointSm};
    }

    @media screen and (max-width: #{$maxWidthXs}) {
        --left-centerpoint: #{$leftCenterpointXs};
        --right-centerpoint: #{$rightCenterpointXs};
    }

    --left-centerpoint-percentage: calc(var(--left-centerpoint) * 100%);
    --right-centerpoint-percentage: calc(var(--right-centerpoint) * 100%);
}
