<h3 class="page-title">Add photo</h3>

<div class="add-photo">
  @if (!submitted) {
    <div class="form-group add-photo__album">
      <label for="album">Select an album</label>
      <select [(ngModel)]="selectedAlbumId" class="form-control" id="album" required>
        @for (album of albums; track album) {
          <option [value]="album.id">{{ album.title }}</option>
        }
      </select>
    </div>
    <div class="add-photo__input">
      <input type="file" (change)="onFileSelected($event)" />
    </div>
    <div class="add-photo__submit">
      <button class="btn btn-primary" [disabled]="!fileSelected" (click)="onSubmit()">Submit</button>
    </div>
  }

  @if (submitted) {
    @if (!uploadFinished) {
      <p>Uploading photo...</p>
      <div class="add-photo__submitted-spinner">
        @if (!uploadFinished) {
          <div class="spinner-border text-primary">
            <span class="visually-hidden">Loading...</span>
          </div>
        }
      </div>
      @if (progress > 0) {
        <p>Progress: {{ progress | percent }}</p>
      }
    }
    @if (uploadFinished) {
      @if (message) {
        <div class="alert alert-success">
          {{ message }}
        </div>
      }
      @if (uploadError) {
        <div class="alert alert-danger">An error occured while uploading the photo.</div>
      }
      <button class="btn btn-primary" (click)="reloadComponent()">Add another photo</button>
    }
  }
</div>
