<app-header></app-header>
<app-base-layout class="admin">
    <div class="btn-toolbar admin__menu">
        <div class="btn-group me-5">
            <button [routerLink]="addPhotosPath" class="btn btn-primary">Add photo</button>
            <button [routerLink]="photosOverviewPath" class="btn btn-primary">Photos overview</button>
            <button [routerLink]="albumsPath" class="btn btn-primary">Albums</button>
        </div>
        <div class="btn-group">
            <button (click)="logout()" class="btn btn-secondary">Logout</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <router-outlet class="card-text"></router-outlet>
        </div>
    </div>
</app-base-layout>
