@import '../../../../styles/variables.scss';

.add-album {
    &_title {
        margin-bottom: 1rem;
    }

    margin-bottom: 1rem;
}

.albums {
    &_select {
        margin-bottom: 1rem;
    }

    .form {
        margin-bottom: 1rem;
    }
}
