@import '../../../../styles/variables.scss';

.add-album {
    &_title {
        margin-bottom: 1rem;
    }

    margin-bottom: 1rem;
}

.albums {
    &_select {
        margin-bottom: 1rem;
    }

    .form {
        margin-bottom: 1rem;
    }

    .photo-table {
        width: 100%;

        th,
        td {
            background-color: $primary-200;
            border: 1px solid $light;
            padding: 5px 10px;

            &.image {
                text-align: center;
            }
        }

        .image {
            max-height: 40px;
            max-width: 40px;
        }
    }
}
