<div #gridContainer class="photo-grid" [style.height.px]="gridHeight">
    <div
        *ngFor="let item of gridItems"
        class="grid-item"
        [style.width.px]="item.width"
        [style.height.px]="item.height"
        [style.marginTop.px]="item.offsetTop"
        [style.marginLeft.px]="item.offsetLeft"
    >
        <a (click)="onPhotoClick(item.id)" [routerLink]="photoPath">
            <img class="grid-item__image" [srcset]="item.srcset" [sizes]="item.width + 'px'" />
            <div class="grid-item__image-overlay"></div>
        </a>
    </div>
</div>
