.photo-grid {
    // height: set programmatically
    display: block;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    .grid-item {
        // width: set programmatically
        // height: set programmatically
        // margin-left: set programmatically
        // margin-top: set programmatically
        position: absolute;

        &__image {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        &__image-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: 0.5s ease;
            background-color: #000000;

            &:hover {
                opacity: 0.3;
                cursor: pointer;
            }
        }
    }
}
