<app-header></app-header>
<div class="login login__container">
    <form [formGroup]="loginForm">
        <div class="login__input-container">
            <input type="text" class="form-control login__input" name="username" formControlName="username" placeholder="Username" />

            <div *ngIf="showValidations(username)" class="alert alert-danger">
                <div *ngIf="username?.errors?.['required']">Username is required.</div>
            </div>
        </div>

        <div class="login__input-container">
            <input type="password" class="form-control login__input" name="password" formControlName="password" placeholder="Password" />

            <div *ngIf="showValidations(password)" class="alert alert-danger">
                <div *ngIf="password?.errors?.['required']">Password is required.</div>
            </div>
        </div>
    </form>

    <button class="btn btn-primary login__submit-button" (click)="submitLogin()">Login</button>

    <div class="testbox primary-100">abc</div>
    <div class="testbox primary-200">abc</div>
    <div class="testbox primary-300">abc</div>
    <div class="testbox primary-400">abc</div>
    <div class="testbox primary-500">abc</div>
    <div class="testbox primary-600">abc</div>
    <div class="testbox primary-700">abc</div>
    <div class="testbox primary-800">abc</div>
    <div class="testbox primary-900">abc</div>

    <div class="testbox secondary-100">abc</div>
    <div class="testbox secondary-200">abc</div>
    <div class="testbox secondary-300">abc</div>
    <div class="testbox secondary-400">abc</div>
    <div class="testbox secondary-500">abc</div>
    <div class="testbox secondary-600">abc</div>
    <div class="testbox secondary-700">abc</div>
    <div class="testbox secondary-800">abc</div>
    <div class="testbox secondary-900">abc</div>
</div>
