<app-header></app-header>
<div class="login login__container">
  <form [formGroup]="loginForm">
    <div class="login__input-container">
      <input type="text" class="form-control login__input" name="username" formControlName="username" placeholder="Username" />

      @if (showValidations(username)) {
        <div class="alert alert-danger">
          @if (username?.errors?.['required']) {
            <div>Username is required.</div>
          }
        </div>
      }
    </div>

    <div class="login__input-container">
      <input type="password" class="form-control login__input" name="password" formControlName="password" placeholder="Password" />

      @if (showValidations(password)) {
        <div class="alert alert-danger">
          @if (password?.errors?.['required']) {
            <div>Password is required.</div>
          }
        </div>
      }
    </div>
  </form>

  <button class="btn btn-primary login__submit-button" (click)="submitLogin()">Login</button>
</div>
