<div class="section-highlight">
    <div class="background"></div>
    <ng-container *ngFor="let child of highlight.children">
        <point-highlight
            *ngIf="child.placeType !== pointHighlightType.enterSection"
            class="place-highlight in-section"
            [highlight]="child"
        ></point-highlight>
    </ng-container>

    <div class="information">
        <div class="title-container">
            <h2 class="title">{{ highlight.title }}</h2>
            <div class="attributes">
                <div class="attribute">
                    <bs-icon class="bs-icon" name="ruler" iconColor="primary-700"></bs-icon>
                    <i>{{ highlight.startDistance | distance }} - {{ highlight.endDistance | distance }}</i>
                </div>
                <div class="attribute" *ngIf="sectionEntryDate">
                    <bs-icon class="bs-icon" name="box-arrow-in-right" iconColor="primary-700"></bs-icon>
                    <i>{{ sectionEntryDate | date: 'dd-MM-yyyy' }}</i>
                </div>
            </div>
        </div>
        <div class="icon-container">
            <icon name="icon-dots" class="icon" iconColor="primary-500"></icon>
        </div>
    </div>
</div>
