<div class="section-highlight">
    <div class="background" [ngClass]="{ resizing, expanded }"></div>
    <point-highlight
        *ngFor="let child of highlight.children"
        class="place-highlight in-section"
        [ngClass]="{ left: alignment === alignmentType.leftIncoming, right: alignment === alignmentType.rightIncoming }"
        [highlight]="child"
        [inSection]="true"
        [sectionIndex]="highlight.highlightIndex"
    ></point-highlight>

    <div class="information">
        <div class="title-container">
            <h2 class="title">{{ highlight.title }}</h2>
        </div>
        <div class="icon-container">
            <icon name="icon-dots" class="icon" iconColor="primary-600"></icon>
        </div>
    </div>
</div>
