<!-- <div class="section-highlight">
    <div *ngIf="alignment === alignmentType.rightIncoming" class="section-highlight_info">
        <span class="section-highlight_info-title">{{ highlight.title }}</span>
        <img class="section-highlight_info-icon" src="../../../../../assets/icons/icon.png" />
    </div>
    <div>
        <div *ngIf="highlight.children.length === 0" class="section-highlight_child section-highlight_child-placeholder"></div>
        <app-highlight *ngFor="let child of highlight.children" class="section-highlight_child" [highlight]="child"></app-highlight>
    </div>
    <div *ngIf="alignment === alignmentType.leftIncoming" class="section-highlight_info">
        <span class="section-highlight_info-title">{{ highlight.title }}</span>
        <img class="section-highlight_info-icon" src="../../../../../assets/icons/icon.png" />
    </div>
</div> -->
