@use '../../../../../styles/variables.scss';

.recipe-details {

    display:grid;
    grid-template-columns: 1fr;
    gap: 10px;

    .metadata-container {
        .toolbar {
            .toolbar-button {
                margin-right: variables.$paddingSm;
            }
        }
    }

    .ingredients-container {
        background-color: variables.$primary-100;
        border-radius: variables.$borderRadius;
        padding: variables.$paddingSm;
    }

}
