.add-photo {
    &__album {
        margin-bottom: 1rem;
    }

    &__input {
        margin-bottom: 1rem;
    }

    &__submitted-spinner {
        margin-left: 3rem;
        margin-bottom: 1rem;
    }
}
