@if (hasLoaded) {
  <div class="hiker-update">
    @if (album || parsedText) {
      @if (parsedText) {
        <div [innerHTML]="parsedText" class="text"></div>
      }
      @if (album && album.photos.length > 0) {
        <app-photo-grid [photos]="album.photos"></app-photo-grid>
      } @else {
        @if (type === pointHighlightType.photo) {
          <p><i>Deze update bevat geen foto's.</i></p>
        }
      }
    } @else {
      <p><i>Deze update bevat geen details.</i></p>
    }
  </div>
}

