<h3 class="page-title">Updates</h3>

<div class="card add-update">
    <div class="card-body">
        <h5 class="card-title">Add new update</h5>
        <div class="form-group" *ngIf="!submitted">
            <label for="title">Title</label>
            <input id="title" type="text" class="form-control" required [(ngModel)]="title" />

            <label for="type">Type</label>
            <select id="type" [(ngModel)]="type" class="form-control" required>
                <option *ngFor="let type of types" [value]="type.value">{{ type.name }}</option>
            </select>

            <label for="albumId">Album</label>
            <select id="albumId" [(ngModel)]="albumId" class="form-control" required>
                <option *ngFor="let album of albums" [value]="album.id">{{ album.title }}</option>
            </select>

            <label for="distance">Distance</label>
            <input id="distance" type="number" min="0" class="form-control" required [(ngModel)]="distance" />

            <label for="text">Text</label>
            <textarea id="text" class="form-control" rows="5" [(ngModel)]="text"></textarea>

            <button class="btn btn-primary submit" [disabled]="formInvalid" (click)="onSubmit()">Submit</button>
        </div>

        <ng-container *ngIf="submitted">
            <div class="alert alert-success" *ngIf="success">Update has been added</div>
            <div class="alert alert-danger" *ngIf="error">An error occured while adding the update.</div>
            <button class="btn btn-primary" (click)="reloadComponent()">Add another update</button>
        </ng-container>
    </div>
</div>
