.add-recipe {
    .form-grid {
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr;
    }

    .form-buttons {
        margin-top: 1rem;

        .form-button {
            margin-right: 1rem;
        }
    }

    .ingredient-container {
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 3fr 6fr 12fr;
        margin-bottom: 5px;

        .icon-column {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }
}