@use '../../../../../styles/variables.scss';

.add-recipe {
    .form-grid {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
    }

    .form-grid--lg {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .form-buttons {

        .form-button {
            margin-right: 1rem;
        }
    }

    .group-form-buttons {
        margin-top: 10px;
    }

    .ingredient-container {
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 3fr 6fr 12fr;
        margin-bottom: 5px;

        .icon-column {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .ingredient-group {
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr;

        background-color: variables.$primary-100;
        border-radius: variables.$borderRadius;
        padding: variables.$padding;
        margin-top: variables.$padding;
    }

    .validation-message {
        color: variables.$danger;
    }
}