<div class="add-recipe">
    <div class="form-grid--lg">
        <h4 class="card-title">{{ recipe().id !== null ? 'Recept bewerken' : 'Recept toevoegen' }}</h4>
        @if (!submitted) {
        <form [formGroup]="recipeForm">
            <div class="form-grid">
                <div>
                    <label for="name"><b>Naam</b></label>
                    <input id="name" type="text" class="form-control form-control-sm" formControlName="name" />
                    @if(name.invalid && name.touched) {
                    <span class="validation-message">Naam is verplicht</span>
                    }
                </div>

                <div formArrayName="singleIngredients">
                    <span><b>Ingrediënten</b></span>
                    @if(ingredientsArray.controls.length > 0) {
                    <div class="ingredient-container">
                        <div></div>
                        <div class="ingredient-header"><i>Aantal</i></div>
                        <div class="ingredient-header"><i>Eenheid</i></div>
                        <div class="ingredient-header"><i>Naam</i></div>
                    </div>
                    @for (ingredient of ingredientsArray.controls; let i = $index; track ingredient) {
                    <div [formGroupName]="i" class="ingredient-container">
                        <div class="icon-column">
                            <button class="btn btn-outline-danger btn-sm form-button" (click)="deleteSingleIngredient(i)">
                                <bs-icon name="trash" />
                            </button>
                        </div>
                        <div>
                            <input id="quantity" type="text" class="form-control form-control-sm" formControlName="quantity" />
                        </div>
                        <div>
                            <input id="unit" type="text" class="form-control form-control-sm" formControlName="unit" />
                        </div>
                        <div>
                            <input id="name" type="text" class="form-control form-control-sm" formControlName="name" />
                        </div>
                    </div>
                    @if(singleIngredientName(i).invalid && singleIngredientName(i).touched) {
                    <span class="validation-message">Naam is verplicht</span>
                    } } }
                </div>
            </div>
        </form>

        @if(ingredientGroupFormsArray.controls.length > 0) {
        <div [formArray]="ingredientGroupFormsArray">
            @for (group of ingredientGroupFormsArray.controls; let groupIndex = $index; track group) {
            <div [formGroupName]="groupIndex" class="ingredient-group">
                <div class="group-name-container">
                    <label for="groupName-{{ groupIndex }}" class="group-name-label"><i>Onderdeelnaam</i></label>
                    <input [id]="'groupName-' + groupIndex" type="text" class="form-control form-control-sm" formControlName="name" />
                </div>

                <div [formArrayName]="'ingredients'" class="ingredients">
                    @if(getIngredientControls(groupIndex).controls.length > 0) {
                    <div class="ingredient-container">
                        <div></div>
                        <div class="ingredient-header"><i>Aantal</i></div>
                        <div class="ingredient-header"><i>Eenheid</i></div>
                        <div class="ingredient-header"><i>Naam</i></div>
                    </div>
                    } @for (ingredient of getIngredientControls(groupIndex).controls || []; let i = $index; track ingredient) {
                    <div [formGroupName]="i" class="ingredient-container">
                        <div class="icon-column">
                            <button class="btn btn-outline-danger btn-sm form-button" (click)="deleteFormGroupIngredient(groupIndex, i)">
                                <bs-icon name="trash" />
                            </button>
                        </div>
                        <div>
                            <input id="quantity" type="text" class="form-control form-control-sm" formControlName="quantity" />
                        </div>
                        <div>
                            <input id="unit" type="text" class="form-control form-control-sm" formControlName="unit" />
                        </div>
                        <div>
                            <input id="name" type="text" class="form-control form-control-sm" formControlName="name" />
                        </div>
                    </div>
                    }
                    <div class="form-buttons group-form-buttons">
                        <button class="btn btn-sm btn-primary form-button" (click)="addIngredientToIngredientGroup(groupIndex)">
                            Ingrediënt toevoegen
                        </button>
                        <button
                            class="btn btn-sm btn-outline-danger form-button"
                            style="color: black"
                            (click)="removeIngredientGroup(groupIndex)"
                        >
                            <bs-icon name="trash" /> Onderdeel verwijderen
                        </button>
                    </div>
                </div>
            </div>
            }
        </div>
        }

        <div class="form-buttons">
            <button class="btn btn-sm btn-primary form-button" (click)="addSingleIngredient()">Los ingrediënt toevoegen</button>
            <button class="btn btn-sm btn-primary form-button" (click)="addIngredientGroup()">Onderdeel toevoegen</button>
        </div>

        <form [formGroup]="recipeForm">
            <label for="preparation"><b>Bereidingswijze</b></label>
            <textarea id="preparation" rows="5" class="form-control form-control-sm" formControlName="preparation"></textarea>
        </form>

        <div class="form-buttons">
            <button class="btn btn-sm btn-primary form-button" [disabled]="formInvalid" (click)="onSubmit()">Opslaan</button>
        </div>
        } @if (submitted) { @if (success) {
        <div class="alert alert-success">Recipe has been saved</div>
        } @if (error) {
        <div class="alert alert-danger">An error occured while saving the recipe.</div>
        }
        <button class="btn btn-primary" (click)="reloadComponent()">Add another recipe</button>
        }
    </div>
</div>
