@use '../../../../styles/variables.scss';

.footer {
    padding-top: variables.$marginLg;
    padding-bottom: variables.$marginLg;

    &__text {
        font-size: 0.8rem;
        margin-bottom: 0;
    }
}
