@use '../../../../../styles/variables.scss';

.albums {
    &_select {
        margin-bottom: 1rem;
    }

    .form {
        margin-bottom: 1rem;
    }

    .confirm {
        margin-right: variables.$margin;
    }

    .delete-status-container {
        margin-top: variables.$margin;
    }
}
