@use '../../../../styles/variables.scss';

.icon {
    height: 100%;
    width: 100%;
    max-width: 160px;
    max-height: 80px;
    fill: variables.$secondary-500;

    &.secondary-400 {
        fill: variables.$secondary-400;
    }

    &.primary-500 {
        fill: variables.$primary-500;
    }

    &.primary-400 {
        fill: variables.$primary-400;
    }
}
