@import '../../../../styles/variables.scss';

.icon {
    height: 100%;
    width: 100%;
    max-width: 160px;
    max-height: 80px;
    fill: $secondary-500;

    &.secondary-400 {
        fill: $secondary-400;
    }

    &.primary-500 {
        fill: $primary-500;
    }

    &.primary-400 {
        fill: $primary-400;
    }
}
