@import '../../../../styles/variables.scss';

.icon {
    height: 100%;
    width: 100%;
    max-width: 80px;
    max-height: 80px;
    fill: $secondary-500;

    &.light {
        fill: $secondary-400;
    }
}
