@import '../../../../../../styles/variables.scss';

.point-highlight-summary {
    width: 100%;
    display: flex;
    align-items: center;

    .icon {
        min-width: 80px;
        min-height: 80px;
        width: 80px;
        height: 80px;
        padding: $paddingSm;

        @media screen and (max-width: #{$maxWidthSm}) {
            min-width: 64px;
            min-height: 64px;
            width: 64px;
            height: 64px;
        }
    }

    .metadata {
        padding: $paddingSm;

        .title {
            font-size: 1.4rem;
            @media screen and (max-width: #{$maxWidthSm}) {
                font-size: 1.1rem;
            }
        }

        .attributes {
            display: flex;
            flex-wrap: wrap;

            font-size: 0.8rem;
            @media screen and (max-width: #{$maxWidthSm}) {
                font-size: 0.7rem;
            }

            .attribute {
                display: flex;
                align-items: center;

                margin-right: $marginLg;

                @media screen and (max-width: #{$maxWidthSm}) {
                    margin-right: $margin;
                }

                &:last-child {
                    margin-right: 0;
                }

                .bs-icon {
                    display: inline-block;
                    padding: 2px;
                }
            }
        }
    }
}
