<div class="point-highlight-summary">
  <div class="icon">
    @switch (highlight.type) {
      @case (pointHighlightType.location) {
        <icon name="riesj"></icon>
      }
      @case (pointHighlightType.photo) {
        <icon name="camera"></icon>
      }
      @case (pointHighlightType.blog) {
        <icon name="blog"></icon>
      }
      @case (pointHighlightType.town) {
        <icon name="house"></icon>
      }
      @case (pointHighlightType.lodge) {
        <icon name="house"></icon>
      }
      @case (pointHighlightType.lake) {
        <icon name="lake"></icon>
      }
      @case (pointHighlightType.mountainPass) {
        <icon name="mountain-pass"></icon>
      }
      @case (pointHighlightType.mountainSummit) {
        <icon name="mountain-summit"></icon>
      }
      @case (pointHighlightType.mountainBypass) {
        <icon name="mountain-bypass"></icon>
      }
      @case (pointHighlightType.waterfall) {
        <icon name="waterfall"></icon>
      }
      @case (pointHighlightType.bridgeOfTheGods) {
        <icon name="bridge-of-the-gods"></icon>
      }
      @case (pointHighlightType.terminus) {
        <icon name="terminus"></icon>
      }
      @case (pointHighlightType.laAqueduct) {
        <icon name="aqueduct"></icon>
      }
      @case (pointHighlightType.devilsPostpile) {
        <icon name="devils-postpile"></icon>
      }
      @case (pointHighlightType.castleCrags) {
        <icon name="cliff"></icon>
      }
      @case (pointHighlightType.fiveHundred) {
        <icon name="party"></icon>
      }
      @case (pointHighlightType.oneThousand) {
        <icon name="party"></icon>
      }
      @case (pointHighlightType.fifteenHundred) {
        <icon name="party"></icon>
      }
      @case (pointHighlightType.twoThousand) {
        <icon name="party"></icon>
      }
      @case (pointHighlightType.twentyFiveHundred) {
        <icon name="party"></icon>
      }
      @case (pointHighlightType.threeThousand) {
        <icon name="party"></icon>
      }
      @case (pointHighlightType.thirtyFiveHundred) {
        <icon name="party"></icon>
      }
      @case (pointHighlightType.fourThousand) {
        <icon name="party"></icon>
      }
      @case (pointHighlightType.rotterdam) {
        <icon name="rotterdam"></icon>
      }
      @default {
        <icon name="icon-dots"></icon>
      }
    }
  </div>
  <div class="metadata">
    <h2 class="title">{{ highlight.title }}</h2>
    <div class="attributes">
      <div class="attribute">
        <bs-icon class="bs-icon" name="calendar-week"></bs-icon>
        <i>{{ highlight.date | pctDate }}</i>
      </div>
      <div class="attribute">
        <bs-icon class="bs-icon" name="clock"></bs-icon>
        <i>{{ highlight.date | pctTime }}</i>
      </div>
      @if (highlight.distance !== null && highlight.distance !== undefined) {
        <div class="attribute">
          <bs-icon class="bs-icon" name="ruler"></bs-icon>
          <i>{{ highlight.distance | distance }}</i>
        </div>
      }
      @if (!highlight.isManual) {
        <div class="attribute">
          <bs-icon class="bs-icon" name="pin-map-fill"></bs-icon>
          <i>Gps update</i>
        </div>
      }
    </div>
  </div>
</div>
