<div class="point-highlight-summary">
    <div class="icon">
        <ng-container [ngSwitch]="highlight.placeType">
            <icon *ngSwitchCase="pointHighlightType.location" name="current-location"></icon>
            <icon *ngSwitchCase="pointHighlightType.photo" name="camera"></icon>
            <icon *ngSwitchCase="pointHighlightType.blog" name="blog"></icon>
            <icon *ngSwitchCase="pointHighlightType.town" name="lodge"></icon>
            <icon *ngSwitchDefault name="icon-dots"></icon>
        </ng-container>
    </div>
    <div class="metadata">
        <h2 class="title">{{ highlight.title }}</h2>
        <div class="attributes">
            <div class="attribute">
                <bs-icon class="bs-icon" name="calendar-week"></bs-icon>
                <i>{{ highlight.date | date: 'dd-MM-yyyy' }}</i>
            </div>
            <div class="attribute">
                <bs-icon class="bs-icon" name="clock"></bs-icon>
                <i>{{ highlight.date | date: 'HH:mm z' }}</i>
            </div>
            <div class="attribute">
                <bs-icon class="bs-icon" name="ruler"></bs-icon>
                <i>{{ highlight.distance | distance }}</i>
            </div>
            <div *ngIf="!highlight.isManual" class="attribute">
                <bs-icon class="bs-icon" name="robot"></bs-icon>
                <i>Automatische update</i>
            </div>
        </div>
    </div>
</div>
