@import '../../../../../../styles/variables.scss';

.point-highlight-summary {
    width: 100%;
    display: flex;
    align-items: center;

    .icon {
        min-width: 64px;
        min-height: 64px;
        width: 64px;
        height: 64px;
        padding: $paddingSm;
    }

    .metadata {
        padding: $paddingSm;

        .attributes {
            display: flex;
            flex-wrap: wrap;
            font-size: 0.7rem;

            .attribute {
                display: flex;
                display: flex;
                align-items: center;

                margin-right: $marginLg;

                @media screen and (max-width: #{$maxWidthSm}) {
                    margin-right: $margin;
                }

                &:last-child {
                    margin-right: 0;
                }

                .bs-icon {
                    display: inline-block;
                    padding: 2px;
                }
            }
        }
    }

    .title-icon {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .title {
            font-weight: 600;
            font-size: 0.8rem;
            text-align: center;
            margin-bottom: 0;
            max-width: $cardWidth - 2 * $padding;
            transition: opacity $transitionTime ease-in-out;
            overflow-y: hidden;
        }

        .icon-container {
            max-width: 64px;
            max-height: 64px;
            padding: 5px;
            transition: opacity $transitionTime ease-in-out;
            opacity: 1;
        }
    }

    .distance {
        font-size: 0.7rem;
        transition: opacity $transitionTime ease-in-out;
        opacity: 1;
    }
}
