@mixin pointHighlightPositioning {
    .place-highlight {
        position: relative;
        z-index: 2;
        width: calc(100% - 2 * $padding);
        display: block;
        margin-left: auto;
        margin-right: auto;

        &.in-section {
            padding-top: $padding;

            &:last-child {
                padding-bottom: $padding !important;
            }
        }
    }
}
