@import '../variables.scss';

@mixin table {
    .table {
        width: 100%;

        th,
        td {
            background-color: $primary-200;
            border: 1px solid $light;
            padding: 5px 10px;
        }
    }
}
