@import '../../../../styles/variables.scss';

.banner {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;

    min-height: $bannerHeight;
    background-image: url('../../../../assets/images/banner_desktop.gif');
    background-size: auto $bannerHeight;

    @media screen and (min-width: #{$maxWidthLg + 1}) {
        background-image: url('../../../../assets/images/banner_desktop_4k.gif');
    }

    @media screen and (max-width: #{$maxWidthSm}) {
        min-height: $bannerHeightSm;
        background-image: url('../../../../assets/images/banner_mobile.gif');
        background-size: auto $bannerHeightSm;
    }
}
