<div class="banner">
    <div class="banner_text-box">
        <h6 class="banner_text-box-line">
            {{
                hasStartedHike
                    ? 'Van 15 april tot en met 5 september 2024 heb ik de Pacific Crest Trail gehiket!'
                    : 'Over niet al te lange tijd ga ik de Pacific Crest Trail hiken!'
            }}
            Dit is een langeafstandspad in het westen van de Verenigde Staten, dat loopt van de grens met Mexico over 4,273 kilometer
            helemaal tot aan de grens met Canada.
        </h6>
        <br />
        <h6 class="banner_text-box-line">Hieronder is het verloop van dit fantastische avontuur terug te lezen!</h6>
    </div>
</div>
