@import '../../../../styles/variables.scss';

.banner {
    width: 100%;
    background-position: center;
    background-repeat: repeat-x;

    min-height: $bannerHeight;
    background-image: url('../../../../assets/images/banner.svg');
    background-size: auto $bannerHeight;

    &_text-box {
        width: 500px;
        max-width: 95%;
        position: relative;
        margin-left: auto;
        margin-right: auto;

        border-radius: $borderRadius;
        padding: 2 * $padding;

        &-line {
            font-size: 0.9rem;
            text-align: center;
            margin-bottom: 0;
            color: $dark;
        }
    }
}
