<div class="card add-location">
  <div class="card-body">
    <h5 class="card-title">Manually check-in at place</h5>

    @if (places$ | async; as placesResult) {
      @if (placesResult | valid) {
        @if (submitResult$ | async; as submitResult) {
          @if (submitResult | valid) {
            <success-message>Location has been added</success-message>
          }
          @if (submitResult | loading) {
            <loading-message>Saving location</loading-message>
          }
          @if (submitResult | error) {
            <error-message>An error occurred while saving the location</error-message>
          }
          @if ((submitResult | valid) || (submitResult | error)) {
            <button class="btn btn-primary" (click)="reloadComponent()">
              Add another location
            </button>
          }
        } @else {
          @if ((placesResult | data)?.length === 0) {
            <p>There are no places at which you can check-in.</p>
          } @else {
            <div class="form-group">
              <label for="place">Place</label>
              <select id="place" [(ngModel)]="placeId" class="form-control" required>
                @for (place of placesResult | data; track place) {
                  <option [value]="place.id">
                    {{ place.distance }} - {{ place.title }}
                  </option>
                }
              </select>
              <div class="form-buttons">
                <button class="btn btn-primary form-button" [disabled]="formInvalid" (click)="onSubmit()">Submit</button>
              </div>
            </div>
          }
        }
      }
      @if (placesResult | loading) {
        <loading-message>Loading places</loading-message>
      }
      @if (placesResult | error) {
        <error-message>An error occurred while loading the places</error-message>
      }
    }
  </div>
</div>
